<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Build Query - Insight</title>
    <link rel="icon" href="{{url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='jqcloud.min.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i&display=swap" rel="stylesheet">
    
</head>
<body>
    <header>
        <div class="container">
            <div class="header">
                <div class="brand">
                    <h2>Build Query</h2>
                </div>
            </div>
        </div>
    </header>

    <section id="button-menu">
        <div class="container">
            <div class="button-group">
                <ul>
                    <li>
                        <a href="{{ url_for('show_result') }}"><button class="btn-result">Result</button></a>
                    </li>
                    <li class="active">
                        <a href="{{ url_for('show_insight') }}"><button class="btn-insight">Insight</button></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    
    <section id="insight">
    
        <div class="container">
            <div>
                <h3>Stories Overtime</h3>
                <canvas id="lineChart"></canvas>
            </div>
            <div class="piechart">
                <h3>Overall Sentiment</h3>
                <canvas id="pieChart" width="400px"></canvas>
            </div>
            <div class="wordcount">
                <h3>Word Cloud</h3>
                <div id="word_cloud" style="width: 500; height: 350px;"></div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="footer-group">
                Copyright &copy; 2019 Novia Widiyanti. All rights reserved
            </div>
        </div>
    </footer>

    <script src="{{url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{url_for('static', filename='insight.js') }}"></script>
    <script src="{{url_for('static', filename='Chart.min.js') }}"></script>
    <script src="{{url_for('static', filename='jqcloud.min.js') }}"></script>
</body>
</html>